body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
}

#channelTable label {
    width: 100px;
}

#channelTable input[type="text"] {
    width: 70px;
    text-align: right;
    background-color: #FFFFF;
}
